<div>
  <div class="config-section">
    <div class="label">${nls.chooseSelectingTools}</div>
    <div data-dojo-attach-point="drawingToolsContainer" class="drawing-tools-container" data-dojo-attach-event="onclick:_onDrawingToolsContainerClicked">
      <div class="draw-item polyline" data-geotype="POLYLINE">
        <div class="draw-item-icon"></div>
      </div>
      <div class="draw-item extent" data-geotype="EXTENT">
        <div class="draw-item-icon"></div>
      </div>
      <div class="draw-item circle" data-geotype="CIRCLE">
        <div class="draw-item-icon"></div>
      </div>
      <div class="draw-item polygon" data-geotype="POLYGON">
        <div class="draw-item-icon"></div>
      </div>
    </div>
  </div>

  <div class="config-section inline">
    <div class="label">${nls.setSelectionColor}</div>
    <div data-dojo-attach-point="colorPicker" data-dojo-type="jimu/dijit/ColorPickerButton">
    </div>
  </div>
  <div class="config-section">
    <div class="label">${nls.selectionMode}</div>
    <div class="option">
      <input name="selectionMode" type="radio" data-dojo-attach-point="partialMode"
            data-dojo-attach-event="onclick: _onSelectPartialMode"/>
      <label>${nls.partiallyWithin}</label>
    </div>
    <div class="option">
      <input name="selectionMode" type="radio" data-dojo-attach-point="whollyMode"
            data-dojo-attach-event="onclick: _onSelectWhollyMode"/>
      <label>${nls.whollyWithin}</label>
    </div>
  </div>
  <div class="config-section">
    <div data-dojo-attach-point="exportCheckBoxDiv"></div>
  </div>
  
  <div class="config-section">
    <div class="label">Layer (Name) to buffer:</div>
    <input type="text" data-dojo-attach-point="bufferLayer" value="" class="dijitTextBox inputbox" />
  </div>

</div>