
.jimu-widget-AP-Address-Export .button{
              color: #ffffff;
                width: 35%;
                height: 40px;
                padding:5px;
                margin-left:10%;
}


.jimu-widget-AP-Address-Export .button-extended{
    width: 100%;
    margin-left:0;
}

.jimu-widget-AP-Address-Export .button-enabled {
    background-color: #009966;
    border: 2px solid #009976;
}   

.jimu-widget-AP-Address-Export .button-enabled:hover {
    border: 2px solid #006141;
}   


.jimu-widget-AP-Address-Export .button-disabled{
    background-color: gray;
    border: 1px Solid #DFDFDF;
}

.jimu-widget-AP-Address-Export .inp{
    width:53%;
    display: inline-block;
}

.jimu-widget-AP-Address-Export .input{
     color: Black;
     border: 1px Solid #DFDFDF !important;
    height: 40px;
    padding:5px;
    width:70%;
    text-align: center;
}

.jimu-widget-AP-Address-Export .input-extended{
    width:100%;
    margin-top:5px;
}

.jimu-widget-AP-Address-Export .steps{
   font-weight: bold; 
}

.jimu-widget-AP-Address-Export .checkboxes{
    margin-top: 10px;
    text-align: center;
}