<div>
    <div>

        <div class="steps"> Step 1: Select one or more taxlots to buffer:</div>
        <br/>

        <div class="select-dijit-container" data-dojo-attach-point="selectDijitNode"></div>



        <br/>
        <br/>
        <div class="steps"> Step 2: Enter a buffer distance:</div>
        <div style="margin-top: 10px; white-space:nowrap">

            <div class="inp">
                <input data-dojo-attach-point="bufferDist" class="input" value="100" type="text" /> feet
            </div>

            <button class="button button-disabled" data-dojo-attach-point="bufferBtn">Buffer</button>
        </div>


        <br/>
        <br/>
        <div class="steps"> Step 3: Specify the address type:</div>

        <div class="checkboxes" id="checkboxes">
            <input type="radio" name="addressType" data-dojo-attach-point="chkMailing" id="addressTypeMailing" value="mailing" checked> Mailing Addresses &nbsp;&nbsp;&nbsp;
            <input type="radio" name="addressType" data-dojo-attach-point="chkSitus" id="addressTypeSitus" value="situs"> Situs Addresses 
        </div>


        <br/>
        <br/>
        <div class="steps"> Step 4: Enter the filename for the download:</div>
    
        <input data-dojo-attach-point="fileName" class="input input-extended" value="MailingAddress" type="text">
        <br/>
        <br/>
        <button class="button button-extended button-disabled" data-dojo-attach-point="addressBtn">Download</button>

    </div>

    <div data-dojo-attach-point="shelter" data-dojo-type="jimu/dijit/LoadingShelter" data-dojo-props='hidden:true'></div>
</div>